/* Override styles */
.views-element-container .views-row {
  margin-bottom: 4em;
}
.content figure {
  max-width: 20em;
}

/* A bit of margin for images in articles */
article img {
  margin: 20px;
}

/* Float any images not already floated */
article img:not(.align-right):not(.align-center):not(.align-left) {
  float: left;
}
/* When images have captions they are wrapped with a figure tag.
 * Beat specificity to avoid the default align rule just above. */
article figure img:not(.align-right):not(.align-center):not(.align-left) {
  float: inherit;
}

